<h1>All created Goals</h1>

	<%=render 'show'%>
<% if !@goals.blank? %>
  <% for goal in @goals %>
    <%= goal.title %>
  <% end %>
<% else %>
  No goal created yet <%= link_to "create goal", :goal_new %> to get started.
<% end %>
