<section id="head">
	<div class="row">
		<h1 class="title">Bucket List</h1>
		<h1 class="sub-title">Wonderful Ideas from amazing people</h1>
	</div>
</section>
<section id="latest-ideas">
	<div class="row">
		<h1 class="heading" style="color: #fff;">Latest ideas</h1>
		<ul class="small-block-grid-3 latest-ideas">
			<li >
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</li>
			<li>
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</li>
			<li>
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</li>
			<li>
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</li>
			<li>
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</li>
			<li>
				<div class="idea">
					<span class="user">Karren brown</span>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>

<section id="">
	<div class="row">
		<h1 class="heading">Most Popular</h1>
		<div>
			
		</div>
	</div>
</section>