<section id="head">
	<div class="row">
		<h1 class="title">Bucket List</h1>
		<h1 class="sub-title">Wonderful Ideas from amazing people</h1>
	</div>
</section>
<section>
	<div class="row">
		<h1>Latest ideas</h1>
		<div>

		</div>
	</div>
</section>

<section>
	<div class="row">
		<h1>Most Popular</h1>
		<div>
			
		</div>
	</div>
</section>
