<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if !@users.blank?%>
<%for user in @users%>
<%= user.last_name%>
<%end%>
<%else %>
<%end%>

<%if !@goals.blank?%>
<%for goal in @goals%>
<%= goal.title%>
<%end%>
<%end%>
