// Place all the styles related to the userpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey-color1: #FAFAFA;
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/alert-boxes";
@import "bucket";

@import url(http://fonts.googleapis.com/css?family=Miniver|Open+Sans+Condensed:300,300italic,700);

$font1 : 'Open Sans Condensed', sans-serif;
$font2 : 'Miniver', cursive;

body{
	font-family: $font1;
	background-color: $grey-color1;
}

#top-nav{
	background-color: #F1F1F1;
	box-shadow: 0px 1px 3px;
	padding: 19px;
}

#left-nav{
	background-color: #F1F1F1;
box-shadow: 0px 1px 3px;
padding: 19px;
position: fixed;
width: 100%;
z-index: 99;

	a{
		text-decoration: none;
		display: block;
		text-align: center;
		padding: 10px 0px;
		border-bottom: 1px #19B5FE solid;
		color: #000;
		&:hover{
			background-color: #19B5FE;
			color: #FFF;
		}
	}

}

#right-content{
	float: left;
	width: auto;
padding: 0px 24px;
	&:after{
		float: none;
	}
}