
// Place all the styles related to the welcome controller here.

// Place all the styles related to the Welcome controller here.

// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #D40E00;
$grey-color1: #FAFAFA;
$grey-color3: #F3F3F3;
$grey-color2: #CCC;
$white: #FFF;
$black: #000;

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/alert-boxes";
@import "bucket";

@import url(http://fonts.googleapis.com/css?family=Miniver|Open+Sans+Condensed:300,300italic,700);

$font1 : 'Open Sans Condensed', sans-serif;
$font2 : 'Miniver', cursive;
body{
	font-family: $font1;
	background-color: $grey-color1;
}

a{
	text-decoration: none;
	color: $primary-color;
}

.content{
	height: 100%;
}

nav {
	background-color: transparent;
	color: $primary-color;
	position: absolute;
	width: 100%;

	i{
		font-size: 40px;
	}

	a{
		font-size: 120%;
		color: $primary-color;
		padding: 5px 23px;
		display: inline-block;
		margin-left: 20px;
		margin-top: 20px;


	}

	.nav{
		a{
			background-color: #EEE;
			border-radius: 40px;

			&:hover{
				background-color: $primary-color;
				font-weight: 300;
				color: #EEE;
			}
		}
	}
}
.title{
	font-family: $font2;
	font-size: 33px;
	padding: 0px;
}

section {
	padding: 40px 0px;
	.heading{
		font-weight: lighter;
		font-size: 45px;
		margin: 0px;
	}

	&#head{
		padding: 18% 0px;
		text-align: center;
		background-image: url("/assets/userhome.jpg");
		background-size: cover;

		h1{
			&.title{
				font-size: 90px;
				margin: 0px;
				margin-bottom: -40px;
			}

			&.sub-title{
				color: $white;
				text-shadow: -1px -1px 1px #000;
				letter-spacing: 0.12em;
				margin-top: 0px;
				font-family: $font1;
				font-weight: lighter;
				font-style: italic;
			}
		}
	}

	&#latest-ideas{
		background-color: $primary-color;
		/*background-image: url("http://www.transparenttextures.com/patterns/gravel.png");*/
		background-image: url("http://www.transparenttextures.com/patterns/gravel.png");

		.latest-ideas{
			.idea{
				background-color: $grey-color3;
				padding: 10px;
				border: solid 1px #c0c0c0;
				border-radius: 4px;

				span {
					&.user{
						display: block;
						font-weight: bold;
						color: $primary-color;
					}
				}

				p{
					&:before{
						content: '"';
					}

					&:after{
						content: '"';
					}
				}
			}
		}
	}
}

.form{
	background-color: $grey-color3;
	padding: 12px;
	width: 45%;
	border: solid 1px #F0F0F0;
	border-radius: 4px;
	box-shadow: 0px 0px 3px;

	label{
		font-size: 19px;
	}

	.form-inputs{
		padding: 10px 12px;
		border-radius: 3px;
		border: solid 1px #C0C0C0;
		color: #888;
		width: 100%;
	}

	input[type="text"]{
		@extend .form-inputs;
	}

	input[type="password"]{
		@extend .form-inputs;
	}

	input[type="email"]{
		@extend .form-inputs;
	}

	input[type="submit"]{
		padding: 12px 36px;
		color: #EEE;
		background-color: #5CA413;
		border-radius: 5px;
		border: solid 1px #FFF;
		font-size: 15px;
		box-shadow: 0px 0px 4px #555;


		&:hover{
			cursor: pointer;
		}
	}

	&.register{
		margin: auto;
	}

	&.login{
		margin: auto;
	}
}

.alert-box{

}

footer{
	background-color: $black;
	color: white;
	text-align: center;
	padding: 16px;

	i{
		font-size: 23px;
		display: inline-block;
		margin: 0px 12px;
		color: #000;
		background-color: #FFF;
		border-radius: 50%;
	}
}